name: Build
env:
  PROJECT_FILE: Luizio.ServiceProxy/Luizio.ServiceProxy.csproj

on:
  # workflow_dispatch:
  push:
    branches: ["master"]
  # pull_request:
  #   branches: ["main"]


permissions:
  contents: read
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore ${{env.PROJECT_FILE}}

      - name: Build
        run: dotnet build -c Release --no-restore ${{env.PROJECT_FILE}}
